{% extends 'awwards/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mt-4 bg-light">
            <img class="rounded-circle account-img d-block mx-auto" src="{{ user.profile.profile_picture.url }}">
            <h5 class="text-center mt-3">{{user.username}}</h5>
            <p class="text-center"> {{user.email}}</p>
        </div>
        <div class="col-md-6"></div>
        
    </div>

</div>

{% endblock %}


